{% load static %}
<html>
  <head>
   <title>verification</title>

  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
  </head>
 <body  style="

	background-color:#008B8B">
<div class="login-page">
  <div class="form">
   <h2>Reset password</h2>
  
    <form class="login-form"autocomplete="off" action="reset_password" method="post" onsubmit=" return Validate();">
         {% csrf_token %}
	   
      <input type="password"  name="password" id="r1" placeholder="new password" required/>
      <input type="password" name="c_password" id="r2" placeholder="confirm password" required/>
      <button>Reset</button>
      
    </form>
  </div>
</div>
 <div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
 </div>

</body>
<script>
      function Validate() {
        var password = document.getElementById("r1").value;
        var confirm_Password = document.getElementById("r2").value;
        if (password != confirm_Password) {
            alert("Passwords do not match.");
            return false;
        }
        alert("password has been reset successfully");
        return true;
       }
 </script>
</html>